.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  cursor: pointer;
}
.theme-toggle:hover {
  background-color: #f0f0f0;
}

/* Estilos para el tema oscuro */
.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme .card {
  background-color: #444;
  color: #fff;
}

.dark-theme .card-body {
  border-top: 1px solid #555;
}

.dark-theme .btn-primary {
  background-color: #555;
}

.dark-theme .btn-primary:hover {
  background-color: #666;
}

.dark-theme .carousel-item img {
  border-radius: 10px;
}

.dark-theme .carousel-control-prev-icon,
.dark-theme .carousel-control-next-icon {
  background-color: #bbb;
}

h1 {
  font-size: 2.5rem;
  color: #bdbdbd;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
}

/* Estilo para el pie de página */
.footer {
  text-align: center;
  font-size: 1rem;
  color: #777;
  margin-top: 4rem;
  padding: 1rem;
  border-top: 2px solid #ddd;
}

.footer a {
  color: #4A90E2;
  text-decoration: none;
}

/* Estilo de las cartas */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 1.5rem;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #bdbdbd;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #357ABD;
  transition: background-color 0.3s ease;
}

/* Estilo del modal */
.modal-content {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-item img {
  border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #bdbdbd;
  border-radius: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #357ABD;
}

/* Responsive Design */
@media (max-width: 768px) {
  .col-md-4 {
    margin-bottom: 20px;
  }
}